#table{
    width: 920px;
    border: 2px solid black;
    margin: 9px;
    border-collapse: collapse; 
}

.heading{
    border: 2px solid black;
}

.content{
    border: 2px solid black;
    color: red;
}

#add{
    width: 55px;
    height: 28px;
}
